* {
    margin: 0;
    padding: 0;
}

@font-face {
    font-family: 'Dancing Script';
    src: url('police/DancingScript-VariableFont_wght.ttf');
}

body {
    background-image: -webkit-linear-gradient(left, #4389A2, #5C258D);
}

#conteneur_citation {
    height: 300px;
    width: 500px;
    margin: 170px auto 0 auto;
    padding: 0 50px;
    box-sizing: border-box;
    background-color: #FFF;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

body div p {
    text-align: center;
}

#citation {
    font-size: 2.4em;
    font-family: 'Dancing Script';
    font-weight: bold;
}

#auteur {
    width: 110px;
    margin: 20px auto 0 auto;
    padding-top: 25px;
    border-top: 8px solid gray;
    font-family: 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
    font-size: 1.2em;
}

#bouton_nouvelle_citation {
    width: 500px;
    margin: 8px auto 0 auto;
    padding: 20px 0;
    background-image: -webkit-linear-gradient(left, #ff5e62, #ff9966);
    text-align: center;
    text-transform: uppercase;
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
    font-size: 1.0em;
    color: #FFF;
    cursor: pointer;
}